<html>

	<head>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
   	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />

   	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   	<script type="text/javascript">
   		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
   	</script>

		<style>
			body {bottom:0; padding:0;}
			#subwaymap { position:absolute; top:0; bottom:0; width:100%; }
		</style>
	</head>
	<body>
	<div id="subwaymap"></div>
	</body>
	<script>
		function log(msg){
			console.log(msg);
		}

		mapboxgl.accessToken="pk.eyJ1Ijoiam9uYXRoYW56aGFuZzk5IiwiYSI6ImNpdjQzMGZjazAwMmsydHJpbW03ZTN4cnEifQ.HD9WQRZXTUG6ygjZ8VWxTg";
		var map = new mapboxgl.Map({
			container: "subwaymap",
			style: 'mapbox://styles/mapbox/light-v9',
			//maxBounds: [[-73.995130, 40.79896], [-73.97, 40.76]],
			center: [-73.983393, 40.758552],
			zoom: 10.84,
		});

		var marker  = new mapboxgl.Marker()
			.setLngLat([-73.983393, 40.758552])
			.addTo(map)
			.togglePopup();


		map.on('load', function () {
			
			var route_ids = [];
			$.getJSON("/map_json", function(data){
				//log("got data");
				$.each( data, function(key, val){
					coordinates = [];
					$.each( val.points, function(index){
						var temp = val.points[index][0];
						val.points[index][0] = val.points[index][1]
						val.points[index][1] = temp;
						
					})
					var route_id ="route-".concat(key);
					//console.log(coordinates[0]);
					map.addSource(route_id,{
						"type" : "geojson",
						"data" : {
							"type" : "Feature",
							"properties": {},
							"geometry": {
								"type" : "LineString",
								"coordinates" : val.points
							}
						}
					})
					map.addLayer({
						"id":route_id,
						"type":"line",
						"source":route_id,
						"layout":{
							"line-join": "round",
							"line-cap": "round"
						},
						"paint" : {
							"line-color": "#888",
							"line-width": 3

						}
					})
				});
			});

});
	</script>
</html>
