<html>

	<head>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
   	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />

   	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   	<script type="text/javascript">
   		//$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
   	</script>


	</head>
	<body>
	<style>
		body {bottom:0; padding:0;}
		#subwaymap { position:absolute; top:0; bottom:0; width:100%; }
		.mapboxgl-popup-tip .mapboxgl-popup-content {
			background-color: rgba(0, 0, 0 , 0);

		}
	</style>

	<div id="subwaymap"></div>
	</body>
	<script>


		function log(msg){
			console.log(msg);
		}

		mapboxgl.accessToken="pk.eyJ1Ijoiam9uYXRoYW56aGFuZzk5IiwiYSI6ImNpdjQzMGZjazAwMmsydHJpbW03ZTN4cnEifQ.HD9WQRZXTUG6ygjZ8VWxTg";
		var map = new mapboxgl.Map({
			container: "subwaymap",
			style: 'mapbox://styles/mapbox/light-v9',
			//maxBounds: [[-73.995130, 40.79896], [-73.97, 40.76]],
			center: [-73.983393, 40.758552],
			dragRotate: false,
			zoom: 10.84,
		});


		map.on('load', function () {

			var route_ids = {};
			var color_cnt = 0;
			$.getJSON("/map_json", function(mapdata){
			$.getJSON("/stops_json", function(stopdata){

				$.each( mapdata, function(mapkey, mapval){
					var features = []
					var srcmap = {}
					var srcstop = {}
					var route_id ="route-".concat(mapkey);
					route_ids[route_id] = 0;
						
					map.addSource(route_id,{
						"type" : "geojson",
						"data" : {
							"type" : "Feature",
							"properties": {
								"color":mapval.color
							},
							"geometry": {
								"type" : "LineString",
								"coordinates" : mapval.points
							}
						}
					})
				});



					//log(route_ids);
				route_ids["route-1..N03R"] = 1;
				route_ids["route-1..N06R"] = 1;

				route_ids_list = [ "route-1..N03R",
								  "route-5..S03R", 
								  "route-A..N04R", 
								  "route-N..N20R",
								  "route-D..N05R",
								  "route-B..N46R"
								  ];
				//route_ids["route-1..N05R"] = 1;
				$.each( route_ids_list, function(index, key){
					//if (val === 1){
						log(key);
						log(map.getSource(key));
						map.addLayer({
							"id":key,
							"type":"line",
							"source":key,
							"layout":{
								"line-join": "round",
								"line-cap": "round"
							},
							"paint" : {
								"line-color": map.getSource(key)._data.properties.color,
								"line-width": 3

							}
						});
						color_cnt += 1;	
					//}
				});
				var stops_feature_data = [];
				$.each( stopdata, function(stopkey, stopval){
					var stopid = "stop-".concat(stopkey);
					stop_source = {
						"type": "Feature",
						"properties": {
							"description": "<strong>"+stopval.name+"</strong>"
						},
						"geometry": {
							"type": "Point",
							"coordinates": [stopval.lon, stopval.lat]
						}

					};
					stops_feature_data.push(stop_source);

					

				});
				map.addSource("stops", {
					"type":"geojson",
					"data":{
						"type": "FeatureCollection",
						"features": stops_feature_data
					}
				})
				map.addLayer({
					"id" : "stops",
					"type" : "circle",
					"source": "stops",
					"paint":{
						"circle-radius" : 3,
						"circle-color" : "#ff3300"
					}
				})
			});				
			});
			var popup = new mapboxgl.Popup({
				closeButton:false,
				closeOnClick: false
			});

			map.on('mousemove', function(e){
				var features = map.queryRenderedFeatures(e.point, {layers: ["stops"]})
				map.getCanvas().style.cursor = (features.length) ? "pointer": "";
				if (!features.length){
					popup.remove();
					return;
				}

				var feature = features[0];
				popup.setLngLat(feature.geometry.coordinates)
				     .setHTML(feature.properties.description)
				     .addTo(map);

			});

		});
		



	</script>
</html>
